[Unit]
Description=Automount SMB share for pi-player
After=network-online.target

[Automount]
Where={{ mount_where | default(ansible_local.pi_player.mount_where) }}
TimeoutIdleSec=0

[Install]
WantedBy=multi-user.target
