[Unit]
Description=Wait for DNS resolution of SMB file server
After=systemd-resolved.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'until getent hosts {{ mount_what | default(ansible_local.pi_player.mount_what) | regex_replace("^//([^/]+)/.*$", "\\1") }} > /dev/null 2>&1; do sleep 2; done'
